{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "commonjs": {
      "presets": ["@babel/preset-env", "@babel/preset-typescript"]
    }
  }
}
