{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }]
  ],
  "env": {
    "commonjs": {
      "presets": ["@babel/preset-env"],
      "plugins": ["babel-plugin-add-module-exports"]
    },
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["babel-plugin-add-module-exports"]
    }
  }
}
